/*button.btn.btn-primary {
  padding-left: 400px;
}*/


/*h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #00BFFF;
    font-size: 50px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #00BFFF;
    font-size: 50px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #00BFFF;
    font-size: 30px;
}

legend {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #00BFFF;
    font-size: 30px;
}

button {
	border-radius: 12px;
	background-color: gray;
}

.button {
  border-radius: 20px;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a.button {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

input{
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}*/
